.father {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 100px 50px 30px;
  /* column-gap: 10px;
  row-gap: 10px;*/
  gap: 10px;
}
.child {
  background-color: darkorange;
}
