.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.header {
  background-color: darkorange;
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-row: span 1;
  grid-column: 1/-1;
}

.content {
  background-color: aquamarine;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-column: 1/4; */
  grid-column: span 3;

  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2/4; */
  /* grid-row: 2 / span 2; */
  grid-row: span 2;
}

.nav {
  background-color: blueviolet;
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-row: 2/span 2; */
  grid-row: span 2;
}

.footer {
  background-color: tomato;
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: span 4;
}
