.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.header {
  background-color: darkorange;
}

.content {
  background-color: aquamarine;
}

.nav {
  background-color: blueviolet;
}

.footer {
  background-color: tomato;
}
